<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjouterEtudiant</display-name>
    <servlet-name>AjouterEtudiant</servlet-name>
    <servlet-class>eu.ensup.gestionscolaire.servlet.AjouterEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterEtudiant</servlet-name>
    <url-pattern>/AjouterEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierEtudiant</display-name>
    <servlet-name>ModifierEtudiant</servlet-name>
    <servlet-class>eu.ensup.gestionscolaire.servlet.ModifierEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierEtudiant</servlet-name>
    <url-pattern>/ModifierEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerEtudiant</display-name>
    <servlet-name>SupprimerEtudiant</servlet-name>
    <servlet-class>eu.ensup.gestionscolaire.servlet.SupprimerEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerEtudiant</servlet-name>
    <url-pattern>/SupprimerEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssocierCoursEtudiant</display-name>
    <servlet-name>AssocierCoursEtudiant</servlet-name>
    <servlet-class>eu.ensup.gestionscolaire.servlet.AssocierCoursEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssocierCoursEtudiant</servlet-name>
    <url-pattern>/AssocierCoursEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LireEtudiantServlet</display-name>
    <servlet-name>LireEtudiantServlet</servlet-name>
    <servlet-class>eu.ensup.gestionscolaire.servlet.LireEtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LireEtudiantServlet</servlet-name>
    <url-pattern>/LireEtudiantServlet</url-pattern>
  </servlet-mapping>
</web-app>